/*@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Moodle</h1>
    <p>Webes felület hallgatóknak, kurzusok felvételére, </a>.</p>
</div>
@if (User.IsInRole("Admin"))
{
    <div class="text-center">
    <h1 class="display-4"> Hi Admin</h1>
    </div>
}
else
{ }
<!--<a href="/"></a> -->
